@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
    --cor-01: #b9004e;
    --cor-02: #561631;
    --cor-03: #3c1325;
    --cor-04: #2b0f1b;
    --cor-05: #daa6b8;
    --cor-06: #E6D9DC;

    --fonte-padrao: 'VT323', monospace;
    --fonte-it-girls: 'Courier New', Courier, monospace;
    --fonte-link: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, var(--cor-06), #DBC0C7, var(--cor-05) 50%, #9e6e81, #7e5765, #000000);
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-04);
}

a{
    color: var(--cor-05);
    text-decoration: none;
    font-family: var(--fonte-link);
    font-size: 15px;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
    margin-top: auto;
    margin: 10px;
}

a:hover{
    color: var(--cor-01);
    cursor: pointer;
    transition: 0.3s;
}

footer{
    display: flex;
    background-color: var(--cor-04);
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.imagem-nome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;   
}

.img-logo{
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    margin: 10px;
    border-radius: 50px;
}
